@page
@model PrivacyModel
@{
    ViewData["Title"] = "Input";
}
<h1>Wat zou ze moeten doen?</h1>

<p>Vul dit formulier in, en geef je advies</p>
<div formulier>
    <form id="form" action="">
        Voornaam: <br>
        <input name="voornaam" type="text" value="voornaam" required="required"/><br>
        Achternaam: <br />
        <input name="achternaam" type="text" value="achternaam"/><br>
        Advies <br>
        <input name="advies" type="text" value="advies" required="required"/><br>
        <br>
        <input type="submit" value="Save" />
    </form>
</div>
