
@page
@model InputModel
@{
    ViewData["Title"] = "Input";
}
<h1>Wat zou ze moeten doen?</h1>

<p>Vul dit formulier in en geef je advies</p>
@using (Html.BeginForm()) {
<p>Voornaam:</p>
@Html.TextBoxFor(model => model.Voornaam, new { @class = "form-control"})
<p>Achternaam:</p>
@Html.TextBoxFor(model => model.Achternaam, new { @class = "form-control"})
<p>Advies:</p>
@Html.TextBoxFor(model => model.Advies, new { @class = "form-control"})
<br>
<br>
<input type="submit" value="Geef Advies"/>
}
